/Java/
/platformer/platformer/.gradle/
/platformer/platformer/build/
/002_LinkedinLearning/AdvancedJava/Exercise Files/Ch02/02_01/begin/IntroToGenerics/gradleproject1/.gradle/
/002_LinkedinLearning/AdvancedJava/Exercise Files/Ch02/02_01/begin/IntroToGenerics/src/intro_to_generics/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch02/02_01/end/IntroToGenerics/build/
/002_LinkedinLearning/AdvancedJava/Exercise Files/Ch02/02_01/begin/IntroToGenerics/src/intro_to_generics/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch02/02_01/end/IntroToGenerics/dist/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch02/02_01/begin/IntroToGenerics/build/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch02/02_01/begin/IntroToGenerics/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch02/02_01/end/IntroToGenerics/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch02/02_02/begin/GenericMethods/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch02/02_02/end/GenericMethods/build/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch02/02_02/end/GenericMethods/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch02/02_03/begin/UsingVarargs/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch02/02_03/end/UsingVarargs/build/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch02/02_03/end/UsingVarargs/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch02/02_04/begin/SubstitutionPrinciple/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch02/02_04/end/SubstitutionPrinciple/build/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch02/02_04/end/SubstitutionPrinciple/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch02/02_05/begin/UsingWildcards/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch02/02_05/end/UsingWildcards/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch03/03_02/begin/LinkedListExample/build/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch03/03_02/begin/LinkedListExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch03/03_02/end/LinkedListExample/build/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch03/03_02/end/LinkedListExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch03/03_03/begin/QueueExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch03/03_03/end/QueueExample/build/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch03/03_03/end/QueueExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch03/03_04/begin/HashmapExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch03/03_04/end/HashmapExample/build/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch03/03_04/end/HashmapExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch03/03_05/begin/LinkedHashmapExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch03/03_05/end/LinkedHashmapExample/build/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch03/03_05/end/LinkedHashmapExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch04/04_01/begin/FunctionalInterfacesExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch04/04_01/end/FunctionalInterfacesExample/build/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch04/04_01/end/FunctionalInterfacesExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch04/04_02/begin/LambdaExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch04/04_02/end/LambdaExample/build/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch04/04_02/end/LambdaExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch04/04_03/begin/MethodReferencesExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch04/04_03/end/MethodReferencesExample/build/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch04/04_03/end/MethodReferencesExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch04/04_05/begin/StreamsExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch04/04_05/end/StreamsExample/build/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch04/04_05/end/StreamsExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch04/04_06/begin/ParallelStreamsExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch04/04_06/end/ParallelStreamsExample/build/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch04/04_06/end/ParallelStreamsExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch05/05_02/begin/HelloWorld/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch05/05_02/end/HelloWorld/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch05/05_03/end/JavaModularApplication1/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch05/05_04/begin/HairdresserBookingSystem/build/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch05/05_04/begin/HairdresserBookingSystem/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch05/05_04/end/HairdresserBookingSystem/build/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch05/05_04/end/HairdresserBookingSystem/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch06/06_02/begin/ThreadClassExample/build/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch06/06_02/begin/ThreadClassExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch06/06_02/end/ThreadClassExample/build/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch06/06_02/end/ThreadClassExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch06/06_03/begin/RunnableInterfaceExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch06/06_03/end/RunnableInterfaceExample/build/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch06/06_03/end/RunnableInterfaceExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch06/06_04/begin/SynchronizationExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch06/06_04/end/SynchronizationExample/build/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch06/06_04/end/SynchronizationExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch06/06_05/begin/ThreadDeadlockExample/build/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch06/06_05/begin/ThreadDeadlockExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch06/06_05/end/ThreadDeadlockExample/build/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch06/06_05/end/ThreadDeadlockExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch07/07_02/begin/ScannerExample/build/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch07/07_02/begin/ScannerExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch07/07_02/end/ScannerExample/build/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch07/07_02/end/ScannerExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch07/07_03/begin/BufferedReaderExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch07/07_03/end/BufferedReaderExample/build/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch07/07_03/end/BufferedReaderExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch07/07_04/begin/TryWithResourcesExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch07/07_04/end/TryWithResourcesExample/build/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch07/07_04/end/TryWithResourcesExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch08/08_04/end/FileCopyExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch08/08_04/begin/FileCopyExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch08/08_03/end/PathClassExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch08/08_03/begin/PathClassExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch08/08_02/end/DirectoriesExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch08/08_02/begin/DirectoriesExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch08/08_01/end/FileCreationExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch08/08_01/begin/FileCreationExample/nbproject/private/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch08/08_02/end/DirectoriesExample/build/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch08/08_04/end/FileCopyExample/build/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch08/08_01/end/FileCreationExample/build/
/002_LinkedinLearning/AdvancedJava/Ex_Files_Advanced_Java_Programming/Exercise Files/Ch08/08_01/begin/FileCreationExample/build/

.netrc